@import './base.css';

body {
  background-color: #fff;
}


#app {

  max-width: 1600px;
  margin: 0;
  padding: 1rem;
  font-weight: normal;

}

.black-text {
  color: var(--vt-c-black);
}

.nabar {
  height: 70px;
  width: 100%;
  background-color: rgb(248, 233, 240);
  position: relative;
  display: flex;
}

.nav-title a {
  color: #000;
  font-size: 22px;
  font-weight: 550;
  font-family: 'Patrick Hand', cursive;
}

.nav-title {
  display: inline-block;


  padding-left: 45px;

  flex: 50%;
}

.nav-links {
  height: 55px;
  float: right;
  padding-top: 6px;
}

.icon {
  color: #000;
  font-size: 1.8rem;
  padding-top: 0;
  margin-bottom: 0.4rem;
}

.icon i {
  font-size: 1.5rem;
}


.nav-links a {
  color: #000;
  line-height: 40px;
  font-size: 18px;
  display: block;
  padding: 0 8px;
  text-decoration: none;
  font-weight: 500;
  margin-right: 0.5rem
}

.icon:focus,
.nav-links a:focus,
.search-text:focus,
.cart-btn:focus,
.search-icon:focus {
  box-shadow: none;

}

.icon:hover,
.nav-links a:hover {
  box-shadow: none;
  background-color: #e4f5f8;
  /* padding: 0.5rem; */
}

.nav-links ul {
  margin-top: 5px;
}

.nav-links li {
  display: inline-block;
  background-color: #beeef7;
}

.nav-links li:hover {
  background-color: #f2f2f2;
  color: rgb(201, 192, 192);
  border-radius: 5px;
  padding: 1px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.logo {


  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

#bg-img {
  margin-bottom: 1.5rem;
}

#bg-img img {
  width: 100%;
  height: 25rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 0;
  padding-top: 30px;
  color: #000;
  padding-left: 10rem;
  background-color: rgb(248, 233, 240);
}

.footer-social {
  padding: 0rem 8rem;
  flex: 33.33%;
  text-align: center;
}

.footer-content {
  padding-left: 8vw;
  font-family: 'Playfair Display', serif;
}

.footer-social h3,
.footer-content h3 {
  font-family: 'Patrick Hand', cursive;
}

.icon-list {
  margin-top: 1rem;
}

.icon-foo {
  font-size: 2rem;
  padding: 0 4rem;
}


.contact-num {
  display: inline-block;
}

.contact-icon {
  display: inline-block;
  padding: 0 1rem 0 2rem;
  font-size: 1.5rem;
}

.contact {
  padding: 0.5rem 0 0.3rem;
}

.home {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  /* margin: 2rem 0; */
}

.home-content {
  margin: 4rem 5rem;
  color: #000;
  flex: 33.33%;
}

.home-content h2 {
  font-family: 'Patrick Hand', cursive;
}


.home-img {
  flex: 43.9%;
}

.home-img img {
  width: 70%;
  height: 25rem;
}

@media (hover: hover) {
  a:hover {
    background-color: #beeef7;
    color: rgb(88, 84, 84);
  }
}

@media (min-width: 1024px) {
  body {
   
    place-items: center;
    background-color: #fff;
  }

  #app {
  
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .mg-1 {
    margin-left: 10rem !important;
  }

  .summary_card {
    background-color: #fff;
    width: 25vw;
    height: fit-content;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    margin-right: 10rem;
  }

  .order-form {
    width: 550px
  }
}

@media (max-width: 992px) {
  .nav-links {
    display: none;
  }

  .home {
    display: block;
  }

  .footer {
    display: block;
    padding-left: 0;
  }

  .footer-social {
    padding: 0;
  }

  .icon-list {
    display: flex;
  }

  .summary_card {
    background-color: #fff;
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    margin-right: 10rem;
  }
}

.products {
  color: #000;
}

.products-title {
  font-family: 'Playfair Display', serif;
  padding-left: 22vw;
}

.row-products {
  margin: 4rem 8rem 0 10rem;
}

.manager-products {
  margin: 4rem 8rem 0 10rem;
  justify-content: space-around;
}

.item {
  background-color: #f5f4f4;
  padding: 2rem 1rem 0;
  text-align: center;
  margin: 1rem 3rem;
  min-height: 350px
}

.item:hover {
  box-shadow: 20px #000;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.cart-grid {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  color: rgb(71, 71, 71);
}

.cart-grid h6 {
  font-size: 1.5rem;
  font-weight: 400;
  color: red;
}

.item-img {
  width: 100%;
  height: 70%;
}

.item-title {
  padding: 1rem;
  /* margin: 0; */
}

.margin-cart {
  margin: 2rem 11rem;
}

.bg-cart {
  background-color: #adadb685;
}

.quatity {
  padding: 0 0.5rem;
  font-size: 17px;
  font-weight: 600;
}

.search-icon {
  height: 68%;
  background-color: white;
  font-size: 22px;
  border-color: white;
}

.input-search {
  width: 26%;
  padding-top: 1rem;
  padding-right: 1rem;
}

.search-text {
  border-style: none none solid none;
  border-bottom: 1px solid black;
}


.image-detail {
  width: 90%;
  height: 100%;
  box-shadow: 5px 10px #dbd9d9;
}

.quantity-btn {
  width: 30px;
  height: 30px;
  background-color: #d4e0eb;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: unset;
  font-size: 19px;
  font-weight: 600;
}

.border-bt {
  border-bottom: 2px solid #dee2e6;
}

.border-bt:hover {
  background-color: #f0f0f1;
}

.totalframe {
  margin-left: 1rem;
}

.total {
  padding-top: 1rem;
  text-align: end;
}

.order-btn {
  background-color: #beeef7;
  font-weight: 600;
  border-radius: 30px;
  padding: auto 30px;
  margin: auto 0.5rem;
  padding-right: 60px;
  padding-left: 60px;

}

.cart-btn {

  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  margin-bottom: 5px;
}

.cart-btn-icon {
  font-size: 1.5rem;
}

.cart-btn:hover {
  /* border: 1px solid; */
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  background-color: #84e3f4;
}

.return-btn {
  border-radius: 30px;
  margin-top: 1rem;
  ;
  background-color: #beeef7;
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.return-btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background-color: #84e3f4;
}

.order-btn:hover {
  background-color: #84e3f4;
}

.totalprice {
  width: 7rem;
}

.notfound {
  margin: 5rem 15rem;
  font-family: 'Patrick Hand', cursive;
}

.notfound-icon {
  font-size: 30px;
  padding-right: 20px;
}

.color {
  color: #000;
}

.list-products {
  width: 33vw;
  box-shadow: 0 7px 13px grey;
}

.list-products li {
  border-bottom: 2px solid rgba(0, 0, 0, .125) !important;
}

.manager {
  min-height: 353px;
  color: #000;
}

.manager-btn {
  margin-left: 15rem;
}

.form {
  margin: 2rem 20rem;
}

.edit-title {
  font-family: 'Patrick Hand', cursive;
}

.edit-btn {
  margin-left: 21rem;
}

.manager-title {
  justify-content: space-between;
}

.manager-title h1 {
  margin-right: 36rem;
}

.manager-button {
  margin-left: 3rem;
  height: min-content;
}

.break-line {
  width: 500px;
  word-wrap: break-word;
}

.btn-manager {
  font-size: 17px;
}

.card_item {
  display: flex;
  position: relative;
  margin: 10px 0;
}

.card_item .product_img img {
  height: 80px;
  margin-right: 20px;
  width: 70px;
  border-radius: 5px;
}

.product_info h1 {
  font-size: 20px;
  color: #1e212d;
  margin: 5px 0;
}

.product_info p {
  color: #a1a1a1;
  font-size: 14px;
}

.product_rate_info {
  display: flex;
  margin: 5px 0;
  align-items: center;
  justify-content: space-between;
}

.order_price,
.order_service,
.order_total {
  display: flex;

  justify-content: space-between;
  padding: 10px;
}

.order_price p,
.order_service p {
  color: #a1a1a1;
}

.order_total p {
  font-weight: 600;
}

.order-title {
  padding: 2.5rem 3rem;
}

.product_price {
  border: 2px solid #8de5f4;
  padding: 10px;
  border-radius: 15px;
  background-color: #beeef7;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  box-shadow: 5px 2px #9bdde8;
}

.product_name {
  margin-top: 4rem;
}

.img-manager {
  width: 12rem;
  margin-left: 10rem;
  border: 4px solid #dbd9d9;
}


.gradient-custom-4 {
  background: #5fccd3;
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgb(180, 214, 232));
  background: linear-gradient(to right, rgb(189, 219, 235), rgb(110, 193, 235))
}

.bg-image {

  height: 300px;
  background-size: cover;
}

.bg-signup {
  height: fit-content;
 

}

.link-form {
  color: blue;
  text-decoration: underline;
}

.log-form {
  border-radius: 15px;
  margin-top: -100px !important;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(30px);
  box-shadow: 0px 10px 15px rgb(0 0 0 / 30%) !important;
  width: 43vw;
  margin-left: 27vw !important;
}

.img-detail {
  width: 190px;
  padding-top: 20px;
}

.order-button {
  margin: 35px 0 0 17px
}

.font {
  font-size: 23px !important;
}

.found {
  color: #000;
  min-height: 354px;
}
.top a {
  position: fixed;
  display: flex;
  width: 40px;
  height: 40px;
  bottom: 30px;
  right: 30px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #e69c9c;
  border: 2px solid #e69c9c;
  border-radius: 50%;
  transition: all .3s linear;
}

.top a:hover {
  background-color: #e69c9c;
  color: #fff;
}